.Home {
    z-index: 100;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    border: color(from color srgb r g b);
    border-radius: 5px;
    color: whitesmoke;
    position: fixed;
    top: 2%;
    left: 4%;
    font-size: clamp(20px, 2vw, 30px);
    padding: 1vw;
}

.Home:hover {
    box-shadow: 0 0 15px #3cf8ff;
}
.Home span:hover {
    text-shadow: 0px 0px 6px #3cf8ff;
}

.Cyber-Ham {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.cyber-image {
    display: flex;
    /* border: 2px solid #3cf8ff; */
}
.cyber-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1vw;
    /* border: 2px solid #3cf8ff; */
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    color: whitesmoke;
    font-size: clamp(20px, 2vw, 30px);
    width: 50%;
    height: 50%;
}
.Proj {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 3rem;
}

.wordle {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.wordle-image {
    display: flex;
    /* border: 2px solid #3cf8ff; */
}
.wordle-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1vw;
    /* border: 2px solid #3cf8ff; */
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    color: whitesmoke;
    font-size: clamp(20px, 2vw, 30px);
    width: 50%;
    height: 50%;
}

.flappy-bird {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.flappy-image {
    display: flex;
    /* border: 2px solid #3cf8ff; */
}
.flappy-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1vw;
    /* border: 2px solid #3cf8ff; */
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    color: whitesmoke;
    font-size: clamp(20px, 2vw, 30px);
    width: 50%;
    height: 50%;
}
