p {
    font-family: "Playfair Display";
}

.home-p {
    position: relative;
    top: 4%;
    font-size: 2vw;
}

body {
    background: url("../images/background.jpg");
    background-size: cover;
    font-family: 'Playfair Display', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tech-p,
.qualifications-p,
.AI-p,
.service-p {
    font-size: 1.4vw;
}

.tech, .service, .qualifications {
    background: rgba(255, 255, 255, 0.512);
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15vw;
    height: 15vw;
    max-width: 300px;
    max-height: 300px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    transition: opacity 0.5s, transform 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button p {
    margin: 0;
}

.home {
    background: url("../images/IMG_2028.jpeg") no-repeat left center;
    background-size: cover;
    border: solid 1px rgba(0, 0, 0, 0.2);
    color: black;
    position: absolute;
    width: 25vw;
    height: 25vw;
    max-width: 350px;
    max-height: 350px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    border: solid 1px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.main-box {
    width: 80vw;
    height: 80vh;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
}


.tech, .qualifications, .service, .AI {
    position: absolute;
    width: 15vw;
    height: 15vw;
    max-width: 300px;
    max-height: 300px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service {
    top: 10%; /* Adjust this value as needed to position it down */
    left: 75%; /* Adjust this value as needed to position it to the right */
    transform: translate(-50%, -50%);
}
@keyframes show-tech {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(calc(-50% - 20vw), calc(-50% - 10vw));
    }
}

@keyframes show-qualifications {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(calc(-50% + 20vw), calc(-50% - 10vw));
    }
}

@keyframes show-service {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(calc(-50% - 20vw), calc(-50% + 10vw));
    }
}

@keyframes show-AI {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(calc(-50% + 20vw), calc(-50% + 10vw));
    }
}

.main-box.show-elements .tech {
    animation: show-tech 0.5s forwards;
    animation-delay: 0.2s;
}

.main-box.show-elements .qualifications {
    animation: show-qualifications 0.5s forwards;
    animation-delay: 0.4s;
}

.main-box.show-elements .service {
    animation: show-service 0.5s forwards;
    animation-delay: 0.6s;
}

.main-box.show-elements .AI {
    animation: show-AI 0.5s forwards;
    animation-delay: 0.8s;
}

@media (max-height: 250px) {
    @keyframes show-tech {
        0% {
            opacity: 0;
            transform: translate(-50%, -50%);
        }
        100% {
            opacity: 1;
            transform: translate(calc(-50% - 20vw), calc(-50% - 7.5vw));
        }
    }

    @keyframes show-qualifications {
        0% {
            opacity: 0;
            transform: translate(-50%, -50%);
        }
        100% {
            opacity: 1;
            transform: translate(calc(-50% + 20vw), calc(-50% - 7.5vw));
        }
    }

    @keyframes show-service {
        0% {
            opacity: 0;
            transform: translate(-50%, -50%);
        }
        100% {
            opacity: 1;
            transform: translate(calc(-50% - 20vw), calc(-50% + 7.5vw));
        }
    }

    @keyframes show-AI {
        0% {
            opacity: 0;
            transform: translate(-50%, -50%);
        }
        100% {
            opacity: 1;
            transform: translate(calc(-50% + 20vw), calc(-50% + 7.5vw));
        }
    }

    .main-box.show-elements .tech {
        animation: show-tech 0.5s forwards;
        animation-delay: 0.2s;
    }

    .main-box.show-elements .qualifications {
        animation: show-qualifications 0.5s forwards;
        animation-delay: 0.4s;
    }

    .main-box.show-elements .service {
        animation: show-service 0.5s forwards;
        animation-delay: 0.6s;
    }

    .main-box.show-elements .AI {
        animation: show-AI 0.5s forwards;
        animation-delay: 0.8s;
    }
}

@keyframes hide-tech {
    0% {
        opacity: 1;
        transform: translate(calc(-50% - 20vw), calc(-50% - 10vw));
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
}

@keyframes hide-qualifications {
    0% {
        opacity: 1;
        transform: translate(calc(-50% + 20vw), calc(-50% - 10vw));
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
}

@keyframes hide-service {
    0% {
        opacity: 1;
        transform: translate(calc(-50% - 20vw), calc(-50% + 10vw));
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
}

@keyframes hide-AI {
    0% {
        opacity: 1;
        transform: translate(calc(-50% + 20vw), calc(-50% + 10vw));
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
}

.main-box.hide-elements .tech {
    animation: hide-tech 1s forwards;
    animation-delay: 3s;
}

.main-box.hide-elements .qualifications {
    animation: hide-qualifications 1s forwards;
    animation-delay: 2s;
}

.main-box.hide-elements .service {
    animation: hide-service 1s forwards;
    animation-delay: 1s;
}

.main-box.hide-elements .AI {
    animation: hide-AI 1s forwards;
    animation-delay: 0s;
}

@media (max-height: 250px) {
    @keyframes hide-tech {
        0% {
            opacity: 1;
            transform: translate(calc(-50% - 20vw), calc(-50% - 7.5vw));
        }
        100% {
            opacity: 0;
            transform: translate(-50%, -50%);
        }
    }

    @keyframes hide-qualifications {
        0% {
            opacity: 1;
            transform: translate(calc(-50% + 20vw), calc(-50% - 7.5vw));
        }
        100% {
            opacity: 0;
            transform: translate(-50%, -50%);
        }
    }

    @keyframes hide-service {
        0% {
            opacity: 1;
            transform: translate(calc(-50% - 20vw), calc(-50% + 7.5vw));
        }
        100% {
            opacity: 0;
            transform: translate(-50%, -50%);
        }
    }

    @keyframes hide-AI {
        0% {
            opacity: 1;
            transform: translate(calc(-50% + 20vw), calc(-50% + 7.5vw));
        }
        100% {
            opacity: 0;
            transform: translate(-50%, -50%);
        }
    }

    .main-box.hide-elements .tech {
        animation: hide-tech 1s forwards;
        animation-delay: 3s;
    }

    .main-box.hide-elements .qualifications {
        animation: hide-qualifications 1s forwards;
        animation-delay: 2s;
    }

    .main-box.hide-elements .service {
        animation: hide-service 1s forwards;
        animation-delay: 1s;
    }

    .main-box.hide-elements .AI {
        animation: hide-AI 1s forwards;
        animation-delay: 0s;
    }
}


.switch {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.disable-css *:not(.switch-container):not(.switch):not(.slider):not(.slider:before) {
    all: unset;
}







.trapdoor, .trapdoor2, .trapdoor3 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    width: 20vw;
    height: 10vh;
    box-shadow: inset -7px 0px 12px -8px rgba(0, 0, 0, 0.3), inset 7px 0px 12px -8px rgba(0, 0, 0, 0.3);
    transition: background 400ms ease-in-out;
    border: none;
    visibility: hidden;
}
.instagram-button,
.github-button,
.linkedin-button {
    visibility: hidden;
}
  
.trapdoor:hover, .trapdoor.active,
.trapdoor2:hover, .trapdoor2.active,
.trapdoor3:hover, .trapdoor3.active {
    background: transparent;
}
  
  .trapdoor:hover .door, .trapdoor.active .door,
  .trapdoor2:hover .door2, .trapdoor2.active .door2,
  .trapdoor3:hover .door3, .trapdoor3.active .door3 {
    background: transparent;
    transform: scale(1.08);
  }
  
  .trapdoor:hover .left, .trapdoor.active .left,
  .trapdoor2:hover .left, .trapdoor2.active .left,
  .trapdoor3:hover .left, .trapdoor3.active .left {
    left: -50%;
  }
  
  .trapdoor:hover .right, .trapdoor.active .right,
  .trapdoor2:hover .right, .trapdoor2.active .right,
  .trapdoor3:hover .right, .trapdoor3.active .right{
    left: 100%;
  }
  
  .trapdoor:hover .github-button, .trapdoor.active .github-button {
    opacity: 1;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.512);
    border: solid 1px rgba(0, 0, 0, 0.2);
    color: black;
    width: 10vw;
    height: 10vw;
    max-width: 300px;
    max-height: 300px;
    min-width: 50px;
    min-height: 50px;
    font-size: 1.4vw;
    visibility: visible;
  }
  .trapdoor2:hover .instagram-button, .trapdoor2.active .instagram-button {
    opacity: 1;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.512);
    border: solid 1px rgba(0, 0, 0, 0.2);
    color: black;
    width: 10vw;
    height: 10vw;
    max-width: 300px;
    max-height: 300px;
    min-width: 50px;
    min-height: 50px;
    font-size: 1.4vw;
    visibility: visible;
  }
  .trapdoor3:hover .linkedin-button, .trapdoor3.active .linkedin-button {
    opacity: 1;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.512);
    border: solid 1px rgba(0, 0, 0, 0.2);
    color: black;
    width: 10vw;
    height: 10vw;
    max-width: 300px;
    max-height: 300px;
    min-width: 50px;
    min-height: 50px;
    font-size: 1.4vw;
    visibility: visible;
  }
  
  /* .github-button {
    width: 200px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .trapdoor .github-button {
    position: absolute !important;
    top: 50%;
    left: 50%;
    font-size: clamp(2vw, 3vw, 20px);
    color: white;
    background: transparent;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .trapdoor2 .instagram-button {
    position: absolute !important;
    top: 50%;
    left: 50%;
    font-size: clamp(2vw, 3vw, 20px);
    color: white;
    background: transparent;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .trapdoor3 .linkedin-button {
    position: absolute !important;
    top: 50%;
    left: 50%;
    font-size: clamp(2vw, 3vw, 20px);
    color: white;
    background: transparent;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  /* .trapdoor .github-button:hover, .trapdoor .github-button.active {
    box-shadow: 0 0 15px #3cf8ff;
  }
  .trapdoor2 .instagram-button:hover, .trapdoor2 .instagram-button.active {
    box-shadow: 0 0 15px #3cf8ff;
  }
  .trapdoor3 .linkedin-button:hover, .trapdoor3 .linkedin-button.active {
    box-shadow: 0 0 15px #3cf8ff;
  }
  
  .trapdoor .github-button span:hover, .trapdoor .github-button span.active {
    text-shadow: 0px 0px 6px #3cf8ff;
  }
  .trapdoor2 .instagram-button span:hover, .trapdoor2 .instagram-button span.active {
    text-shadow: 0px 0px 6px #3cf8ff;
  }
  .trapdoor3 .linkedin-button span:hover, .trapdoor3 .linkedin-button span.active {
    text-shadow: 0px 0px 6px #3cf8ff;
  } */
  
  .left {
    top: 0;
    left: 0%;
  }
  
  .right {
    top: 0;
    left: 50%;
  }
  
  .door {
    transition: 400ms, box-shadow 200ms, transform 300ms;
    transition-timing-function: ease-in-out;
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    width: 50%;
    z-index: 2;
    height: 100%;
    background: none;
    visibility: visible;
    /* border: 2px solid #fff; */
  }
  .door2 {
    transition: 400ms, box-shadow 200ms, transform 300ms;
    transition-timing-function: ease-in-out;
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    width: 50%;
    z-index: 2;
    height: 100%;
    background: none;
    visibility: visible;
    /* border: 2px solid #fff; */
  }
  .door3 {
    transition: 400ms, box-shadow 200ms, transform 300ms;
    transition-timing-function: ease-in-out;
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    width: 50%;
    z-index: 2;
    height: 100%;
    background: none;
    visibility: visible;
    /* border: 2px solid #fff; */
  }
  
  .door:before {
    content: "";
    position: absolute;
    display: flex;
    background: url("../images/github-mark-white.png") no-repeat center, transparent;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 5vh;
  }
  .door2:before {
    content: "";
    position: absolute;
    display: flex;
    background: url("../images/IMG_2218_processed.JPG") no-repeat center, transparent;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 5vh;
  }
  .door3:before {
    content: "";
    position: absolute;
    display: flex;
    background: url("../images/Linkedin.png") no-repeat center, transparent;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 5vh;
  }
  
  .left:before {
    left: 15vw;
    transform: translateX(-100%) translateY(-50%);
  }
  
  .right:before {
    right: 15vw;
    transform: translateX(100%) translateY(-50%);
  }
  
  .trapdoor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    margin-bottom: 100px;
    /* border: 2px solid #fff; */
  }