body {
    background: radial-gradient(#0d1d31 0%, #000000 100%);;
}
.dropdown {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.dropdown2 {
    z-index: 100;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid #3cf8ff;
    border-radius: 5px;
    color: white;
    font-size: clamp(20px, 2vw, 30px);
    padding: 1vw;
}

.dropdown2:hover {
    box-shadow: 0 0 15px #3cf8ff;
}

.dropdown-content {
    display: flex;
    gap: 1vw;
}

.dropdown-content a {
    cursor: pointer;
    background-color: white(0, 0, 0, 0.05);
    border: 1px solid #3cf8ff;
    border-radius: 5px;
    color: white;
    font-size: clamp(20px, 2vw, 30px);
    padding: 1vw;
    text-decoration: none;
}

.dropdown-content a:hover {
    box-shadow: 0 0 15px #3cf8ff;
}


header {
    position: sticky;
    top: 0;
    padding: 1vw;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 0;
    padding: 1vw;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    color: whitesmoke;
    text-align: center;
}

.project {
    max-width: 100%;
    border-radius: 5px;
}

.text-section {
    padding: 1vw;
    font-size: clamp(20px, 2vw, 30px);
}

.top {
    padding-top: 50px;
    padding-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 3rem;
    color: white;
}

.switch {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.disable-css *:not(.switch-container):not(.switch):not(.slider):not(.slider:before) {
    all: unset;
}
.white-link {
    color: #3cf8ff;
    text-decoration: none;
}

.white-link:hover {
    color: teal;
}